#content {
    
    padding: 20px;
    border-bottom: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.patho-table {
    width: calc(100% - 30px);
    margin: 15px;
}

.patho-table td {
    padding: 0;
}

.last-cell-button {
    display: flex;
    margin-left: auto;
}

.filterForm {
    display: flex;
    flex-direction: column;
}

.searchBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-item {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.card.filtered {
    margin-top: 10px;
}

.symptomsChips .card {
    flex-wrap: wrap;
    flex-direction: row;
}

.btn-light.focus, .btn-light:focus {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

tr.infos {
    border: 1px solid lightgrey;
}

.meridienCodeColumn{
    width: 10%;
}

.typeColumn {
    width: 10%;
}

.descColumn {
    width: 60%;
}