.content {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.searchbar-form {
    display: flex;
    flex-direction: row;
}

.searchbar {
    flex-grow: 1;
}

.card.connexion {
    width: 30vw;
}